body {
    background: #efdec1;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    background-image: url(../images/image02.jpg);
    background-size: cover;
  }

h2 {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid #000;
    background: #fff;
    width: 50%;
    margin: 50px auto;
  }
  
  h2:before,
  h2:after {
    position: absolute;
    content: '';
  }
  
  h2:before {
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #fff;
  }
  
  h2:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  
  h2 i {
    font-size: 30px;
    font-size: 3rem;
    line-height: 60px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 60px;
    text-align: center;
    color: yellow;
  }
  
  h2 span {
    position: relative;
    z-index: 1;
    font-size: 32px;
  }
  
  .container {
    width: 500px;
    margin: 8px auto;
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    opacity: 0.8;
  }
  
  #question {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
  }
  
  #choices {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
  }
  
  #choices li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #choices li:hover {
    background: #f8f8f8;
  }

  #choices li.wrong{
    background-color: red;
    color: #f5cbf5;
    font-weight: bold;
    border-color: red;
  }

  #choices li.correct::after{
    content:"...corect!!";
  }


  #choices li.correct{
    background-color: #c3e6cb;
    color: #155724;
    font-weight: bold;
    border-color: #c3e6cb;
  }

  #choices li.wrong::after{
    content: "...wrong!!";
  }

  
  #btn,#result a{
    background: #3498db;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 0 #2880b9;
  }
  
  #btn.disabled {
    background: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
  } 

  #result{
    position:absolute;
    width: 300px;
    background-image: url(../images/image01.jpg);
    background-size:cover;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top:50px;
    right: 0;
    left:0;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    transition: 0.4s;
  }

  #result.hidden{
    transform:translateY(-500px);
  }

  #result p{
    font-size: 32px;
    color: #fff;
  }

  #result a{
    display: block;
    text-decoration: none;
  }
